<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >
  <variable name="localDir" value="${basedir}/logs/${shortdate}"/>
  <targets>
    <target name="infoLog" xsi:type="File" fileName="${localDir}/infoLog.txt" />
    <target name="warnLog" xsi:type="File" fileName="${localDir}/warnLog.txt" />
    <target name="errorLog" xsi:type="File" fileName="${localDir}/errorLog.txt" />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="infoLog" />
    <logger name="*" minlevel="Warn" writeTo="warnLog" />
    <logger name="*" minlevel="Error" writeTo="errorLog" />
  </rules>
</nlog>